# **Accounts Database Setup and Data Integration Project**
In this project, I built an accounts database composed of three tables. I utilized Pandas to efficiently extract data from CSV files, applied various data transformations to ensure consistency and accuracy, and then inserted the transformed data into the database. This process helped streamline data management and improved the overall structure of the dataset for future analysis.

**Technologies Used:**
* SQL                   
* ETL Processes
* Python
* Pandas & Pyodbc

### ***Import Libraries:***

In [118]:
import pyodbc as od
import pandas as pd
import numpy as np
import io

### ***Create Connection Function:***

In [119]:
try:
    connection = od.connect(driver='{ODBC Driver 17 for SQL Server}',
                            server='MOAAZ74',
                            database='accounts',
                            trusted_connection='yes')
    cursor = connection.cursor()
except od.Error as ex:
    print('There is an issuse:\t', ex)

### ***Read data from accounts country:***

In [120]:
try:
    accounts_country_file = "D:\\Courses\\Projects\\Project 2 - Basics Series\\Wealth Data\\Wealth-AccountsCountry.csv"
    accounts_country_df = pd.read_csv(accounts_country_file)
    accounts_country_df = accounts_country_df[['Code', 'Short Name' , 'Table Name', 'Long Name', 'Currency Unit']]
except:
    print("Can't Read File!")

### ***Clean null values in accounts country:***

In [121]:
accounts_country_df.dropna(axis=0,inplace=True)

### ***Read data from accounts series:***

In [122]:
try:
    accounts_series_file = "D:\\Courses\\Projects\\Project 2 - Basics Series\\Wealth Data\\Wealth-AccountSeries.csv"
    accounts_series_df = pd.read_csv(accounts_series_file)
    accounts_series_df = accounts_series_df[['Code', 'Topic', 'Indicator Name', 'Long definition']]
except:
    print("Can't Read File!")

### ***Read data from accounts data:***

In [123]:
try:
    accounts_data_file = "D:\\Courses\\Projects\\Project 2 - Basics Series\\Wealth Data\\Wealth-AccountData.csv"
    accounts_data_df = pd.read_csv(accounts_data_file)
    accounts_data_df = accounts_data_df[['Country Name', 'Country Code', 'Series Code', 'Series Name' ,'1995 [YR1995]','2000 [YR2000]','2005 [YR2005]', '2010 [YR2010]', '2014 [YR2014]']]
except:
    print("Can't Read File!")

### ***Insert data into accountsCountry table:***

In [124]:
try:
    sql = '''INSERT INTO accountsCountry(country_code, short_name , table_name, long_name, currency_unit) VALUES (?,?,?,?,?)'''
    for i, row in accounts_country_df.iterrows():
        cursor.execute(sql,list(row))
    cursor.commit()
except od.Error as ex:
    print('There is an issuse:\t', ex)

### ***Insert data into accountsSeries table:***

In [125]:
try:
    sql = '''INSERT INTO accountsSeries(series_code ,topic, indicator_name,short_definition) VALUES (?,?,?,?)'''
    for i, row in accounts_series_df.iterrows():
        cursor.execute(sql,list(row))
    cursor.commit()
except od.Error as ex:
    print('There is an issuse:\t', ex)

### ***Insert data into accountsData table:***

In [126]:
try:
    sql = '''INSERT INTO accountsData(country_name, country_code, series_code, indicator_name, year_1995, year_2000, year_2005, year_2010, year_2014)VALUES (?,?,?,?,?,?,?,?,?)'''
    for i, row in accounts_data_df.iterrows():
        cursor.execute(sql,list(row))
    cursor.commit()
except od.Error as ex:
    print('There is an issuse:\t', ex)

### **Validate your data was inserted into the accounts country table:**

In [ ]:
cursor.execute("SELECT * FROM accountsCountry")
for row in cursor:
    print(row)

### **Validate your data was inserted into the accounts series table:**

In [ ]:
cursor.execute("SELECT * FROM accountsSeries")
for row in cursor:
    print(row)

### **Validate your data was inserted into the accounts data table:**

In [ ]:
cursor.execute("SELECT * FROM accountsData")
for row in cursor:
    print(row)

### **Close all connections:**

In [ ]:
cursor.close()
connection.close()

---------------------------------------

### ***Author:***
*Moaaz Abu-Saif Megahed Nasser*

## <h3 align="center"> Thanks ❤️️ <h3/>